<body class="mt-2" style="background-image: url('./assets/signin.png'); background-size: cover;">
    <div class="container-fluid" >
        <div class="row custom-margin d-flex justify-content-center align-items-center ">
            <div class="rectangle">
                
                    <p class="title mt-4">Sign In</p>
               
              
                        <div class="col-12 custom-marginn">
                            <div class="form-floating">
                                <input type="email" class="form-control" id="email" placeholder="name@example.com" style="text-align: center;">
                                <label for="email" style="color: #969696; font-family: Raleway;font-size: large; font-weight: 500;">Email</label>
                            </div>

                        </div>
                        
                        
                        <div class="col-12 custom-marginn mt-3">
                            <div class="form-floating">
                                <input type="password" class="form-control" id="pwd" placeholder="name@example.com" style="text-align: center;">
                                <label for="pwd" style="color: #969696; font-family: Raleway;font-size: large; font-weight: 500;">Password</label>
                            </div>
                            <div class="text-end custom-margin-pwd mt-3"> <!-- Aligns the link to the right -->
                                <a href="#" style="color: #FFFF;font-weight: 200; font-family: Raleway; font-size:medium; text-decoration:underline;">Forgot mY password</a>

                            </div>
                            <div>
                                <button type="submit" class=" btn-lg custom-btn mt-3 "  id="SignIn"><p class="signIn-custom ">Sign In</p></button>
                            </div>

                            <div>
                                <img src="./assets/facebook-logo.svg" alt="">
                                <a class="btn btn-primary custom-margin-facebook" href="#" role="button"><p class="facebook-custom">Sign In with Facebook</p></a>

                            </div>



                        </div>
                       
                        

            </div>
      










               <!--
                <p class="title mt-4">Sign In</p>
                <div class="custom-margin">
                  <div class="form-floating" style="display: flex; flex-direction: column; align-items: center;">
                    <input type="email" class="form-control" id="email" placeholder="name@example.com" style="text-align: center;">
                    <label for="email" style="width: 100%; text-align: center;">Email address</label>
                  </div>
                  <div class="form-floating mt-3" style="align-items: center;">
                    <input type="password" class="form-control" id="Password" placeholder="Password" style="text-align: center;">
                    <label for="Password" style="width: 100%; text-align: center;">Password</label>
                  </div>
                </div>
              </div>
              

               --> 
                
              
              
              
            
        </div>
    </div>
    <br><br><br><br><br><br><br><br><br><br><br><br>
</body>    